<h3>Quotations</h3>
Export to json file : <%= link_to 'click', quotations_json_path %><br>
Export to xml file : <%= link_to 'click', quotations_xml_path %><br><br>

Upload JSON file
<%= form_tag quotations_show_path, multipart: true do%>
  <%= file_field_tag :file %>
  <%= submit_tag "import" %>
<% end %><br><br>
<%= form_tag(quotations_show_path, method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>
<ul>
  <% for quotation in @quotations %>
      <li><%= h quotation.author_name %>: <%= h quotation.quote %></li>
  <% end %>
</ul>
<br/>
<% if params[:sort_by] == "date" %>
    <%= link_to "Sort by category", :action => :quotations, :sort_by => :category %>
<% else %>
    <%= link_to "Sort by date", :action => :quotations, :sort_by => :date %>
<% end %>
<hr/>
<h3>New quotation</h3>
<%= form_for(@quotation, url: quotation_new_path, method: "post") do |f| %>
    <% if @quotation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

          <ul>
            <% @quotation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :author_name %>
      <%= f.text_field :author_name, :size => 20, :maxlength => 40 %>
    </div>

    <div class="field">
      <%= f.label :category %>
      <%= f.collection_select(:category, Quotation.select(:category)+[Quotation.new(category: "New Category")], :id, :category) %>
      <%= f.text_field :category, :size => 20, :maxlength => 40 %>
    </div>

    <div class="field">
      <%= f.label :quote %>
      <%= f.text_area :quote, :rows => 2, :cols => 40, :maxlength => 500 %>
    </div>

    <div class="actions">
      <%= f.submit 'Create' %>
    </div>
<% end %>