<h3>Quotations</h3>
Export to json file : <%= link_to 'click', quotations_json_path %><br>
Export to xml file : <%= link_to 'click', quotations_xml_path %><br><br>


<%= form_tag(quotation_new_path, method: "post") do %>
    <%= label_tag(:url, "URL for import quote") %>
    <%= text_field_tag(:url) %>
    <%= submit_tag("Import") %>
<% end %><br><br><hr><br>


<%= form_tag(quotations_show_path, method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>
<br>
<%= link_to "Erase my personalization", clear_cookie_path, :method => :delete %>
<table>
  <thead>
    <th>ID</th>
    <th>Author name</th>
    <th>Quote</th>
    <th>Category</th>
    <th>Created at</th>
    <th>Opearation</th>
  </thead>
  <tbody>
  <% @quotations.each do |quotation|  %>
    <tr>
      <td><%= quotation.id %></td>
      <td><%= quotation.author_name %></td>
      <td><%= quotation.quote %></td>
      <td><%= quotation.category %></td>
      <td><%= quotation.created_at %></td>
      <td><%= link_to "Delete", kill_path(:id => quotation.id, :quotation_id => quotation.id), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br/>
<% if params[:sort_by] == "date" %>
    <%= link_to "Sort by category", :action => :quotations, :sort_by => :category %>
<% else %>
    <%= link_to "Sort by date", :action => :quotations, :sort_by => :date %>
<% end %>
<hr/>
<h3>New quotation</h3>
<%= form_for(@quotation, url: quotation_new_path, method: "post") do |f| %>
    <% if @quotation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@quotation.errors.count, "error") %> prohibited this book from being saved:</h2>

          <ul>
            <% @quotation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :author_name %>
      <%= f.text_field :author_name, :size => 20, :maxlength => 40 %>
    </div>

    <div class="field">
      <%= f.label :category %>
      <%= f.collection_select(:category, [Quotation.new(category: "New Category")]+Quotation.select(:category).distinct, :category, :category) %>
      <%= text_field :post, :category_name %>
    </div>

    <div class="field">
      <%= f.label :quote %>
      <%= f.text_area :quote, :rows => 2, :cols => 40, :maxlength => 500 %>
    </div>

    <div class="actions">
      <%= f.submit 'Create' %>
    </div>
<% end %>