<div class="row">
  <div class="col-md-12">
    <h1>Assignment 5 Solution</h1>
  </div>
</div>
<div class="row" style="padding-top: 20px;">
  <div class="col-md-12">
    <ul>
      <li><strong>View <%= link_to 'Latest database dump', '/db_dump/pgdump.txt' %></strong></li>
      <li><strong>View <%= link_to 'Project management', 'https://github.com/ixistic/footballry/projects/1' %></strong></li>
      <li><strong>View <%= link_to 'Final project (Footballry)', 'https://web8.cs.ait.ac.th/footballry' %></strong></li>
      <li><strong>View <%= link_to 'Continuous integration report', 'https://ci.vgl-ait.org/jenkins/job/WAE-2016/job/web8/' %></strong></li>
      <li><strong>View <%= link_to 'Issue tracker', 'https://github.com/ixistic/footballry/issues' %></strong></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <br><br><h5>#1 Think about how to classify each of the types of content on your site. Articles, comments on articles,
    news items, questions and answers, documents to be approved or rejected with comments, and so on.
    Each type of content will require a different flavor of data model and moderation/approval/versioning process.</h5>

    <!--<p>-->
      <!--Content : <br>-->
    <!--</p>-->

    <!--<ul>-->
      <!--<li>Game schedules and game scores from previous matches</li>-->
      <!--<li>News articles (national and international) including comments and responses</li>-->
      <!--<li>Video clips (national and international) including comments and responses</li>-->
      <!--<li>Forum topics in which conversations are categorized</li>-->
      <!--<li>Conversation entries including comments and responses</li>-->
      <!--<li>Targeted product-ads banners appear along conversation entries</li>-->
      <!--<li>Product pages including comments and responses in the marketplace section</li>-->
      <!--<li>Shop-front pages that certain users own</li>-->
    <!--</ul>-->

    <br><br><h5>#2 Design your content data model and discuss the implications of your design choices with potential
    users of the system. In general, there should be at least one category of user-submitted content with
    authoring workflow specific to your project and at least one question and answer forum. However,
    the specifics will be very dependent on your project's requirements. Document the design and your
    discussions on your site.</h5>

    <p>

    </p>

    <br><br><h5>#3 Specify the workflow for each kind of content on your site and discuss the implications of your design
    choices with potential users of the system. Document the workflow design and your discussions on your site.</h5>

    <p>

    <p>

    <!--<p>-->
      <!--<b>Security Issues</b>-->
    <!--<p>-->
    <!--<ul>-->
      <!--<li>Rails is of the latest version: 5.0.0.1 (the latest as of October 12, 2016)</li>-->
      <!--<li>Gems are of the newest: $ bundle outdated is run to view which gems are outdated and update them accordingly</li>-->
      <!--<li>Password encryption method is handled by Gem Devise</li>-->
      <!--<li>Session security, cookie encryption, cross site scripting and other XSS vulnerabilities: most of these mentioned vulnerabilities are dealt with by Rails 5.x by default. Furthermore, we activated SSL on our server to make sure any activity on it is secure.</li>-->
      <!--<li>Sql injection vulnerabilities are also dealt with by Rails 5.x and sanitized by default. Additionally, we only ensured that no raw SQL commands were present in the code.</li>-->
      <!--<li>Ensuring no passwords are stored in the source code, or committed in any configuration file. Yes, we investigated the application thoroughly to make sure no password of any kind was pushed to the production version.</li>-->
    <!--</ul>-->
    <!--<p>-->

    <br><br><h5>#4 Design your versioning system. What is the versioning system for each type of content? Do you need
    a complete history of every version, or just a current version with the author of the last version? Make
    sure you think carefully about the needs of the user community. Document the versioning design on
    your site.</h5>

    <!--<p>-->
      <!--<img src="<%= asset_path('designs/issue1.png') %>" alt="Cannot load image" class="img-thumbnail"><br>-->
      <!--<img src="<%= asset_path('designs/issue2.png') %>" alt="Cannot load image" class="img-thumbnail"><br>-->
      <!--<img src="<%= asset_path('designs/issue3.png') %>" alt="Cannot load image" class="img-thumbnail"><br>-->
    <!--</p>-->

    <br><br><h5>References</h5>
    <ul>
      <li>(1) http://</li>
    </ul>
  </div>
</div>




